html,
body {
  margin: 0 auto;
  padding: 0;
}
img {
  margin: 0 20px;
}
h1 {
  text-align: center;
  font-family: "Shizuru", cursive;
}

h3 {
  color: brown;
  margin: 0 20px;
}

.nav {
  list-style: none;
}
.nav li {
  display: inline;
  margin: 0 10px;
}
